<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <div>
        <a href=" "><img src="assets/images/logoGB.svg" alt="logo-granbery" width="150px" height="150px"></a>
        <h1>Faculdade Metodista Granbery</h1>
      </div>
      <div>
        <form>
          <div class="row">
            <div class="col">
              <label for="exampleInputEmail1" class="form-label">Nome</label>
              <input type="email" class="form-control" id="nome" aria-describedby="emailHelp">
              <label for="exampleInputEmail1" class="form-label">Email </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Esqueceu o e-mail ou a senha <a href="#">Clique aqui</a></div>
            </div>
            <div class="col">
              <label for="exampleInputPassword1" class="form-label">Senha</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              <label for="exampleInputEmail1" class="form-label">Matríucula</label>
              <input type="email" class="form-control" id="matricula" aria-describedby="emailHelp">
              <button type="submit" class="btn btn-primary">Cadastra</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col agulhao">

    </div>
  </div>
</div>
