<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <div>
        <a href=" "><img src="assets/images/logoGB.svg" alt="logo-granbery" width="150px" height="150px"></a>
        <h1>Faculdade Metodista Granbery</h1>
      </div>
      <div class="acesso-bot ">
        <form>
          <hr>
          <div class="row">
            <div class="mb-3 col">
              <label for="tele1" class="form-label">Telefone Secretaria</label>
              <input type="text" disabled class="form-control" id="tele1" value="(32) 3390-1290">

            </div>
            <div class="mb-3 col">
              <label for="tele2" class="form-label">Whatsapp</label>
              <input type="text" class="form-control" disabled id="tele2" value="(32) 95525-4569">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col agulhao">

    </div>
  </div>
</div>
