.agulhao{
  background-image: url("/assets/images/smartphoneLogoAgulhao.svg");
  background-repeat: no-repeat;
  background-position: center;

}
.col{
  height: 90vh;
}

iframe{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
