<div class="container-fluid">
  <div class="row text-center">
    <div class="col">
      <div>
        <a href=" "><img src="assets/images/logoGB.svg" alt="logo-granbery" width="150px" height="150px"></a>
        <h1>Faculdade Metodista Granbery</h1>
        <a href="chat-bots"><button class="btn btn-primary">Acesso Aluno</button></a>
        <!--Voltar com chat-bot para form, está aqui apenas para modificação, ele vai ser um submit-->
        <a href="chat-bot"><button class="btn btn-primary">Acesso Professor</button></a>
      </div>
      <div class="acesso-bot ">
        <form>

          <hr>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">

          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Senha</label>
            <input type="password" class="form-control" id="password" value="">
          </div>

        </form>
      </div>
    </div>
    <div class="col agulhao">

    </div>
  </div>
</div>
